$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #ff7730;
$color-secondary-light: #ffb900;

$color-blue: #5643fa;
$color-blue-light: #2998ff;

$color-white: #fff;
$color-black: #000;
$color-gray: #555;
$color-gray-light: #aaa;
$color-gray-dark: #333;
