.feature {
  justify-self: center;
  padding: 4rem 2.4rem 2.4rem;
  border-radius: 5px;
  text-align: center;
  background-color: rgba($color-white, 0.8);
  box-shadow: 0 10px 20px rgba($color-black, 0.2);
  cursor: default;
  transform: translateY(0) scale(1);
  transition: all 300ms;

  @include respond("tab-port") {
    max-width: 40rem;
    &:nth-child(odd) {
      justify-self: flex-end;
    }

    &:nth-child(even) {
      justify-self: flex-start;
    }
  }

  @include respond("phone") {
    max-width: 60rem;
  }

  &__icon {
    display: inline-block;
    margin-bottom: 4rem;
    font-size: 6rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    color: transparent;
  }

  &__heading {
    margin-bottom: 1.6rem;
  }

  &:hover {
    transform: translateY(-2rem) scale(1.05);

    @include respond("tab-port") {
      transform: translateY(-1rem) scale(1.05);
    }
  }
}
