.footer {
  padding: 8rem 0;
  background-color: #222;
  color: $color-white;

  .grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 7rem;
    column-gap: 15rem;

    @include respond("tab-port") {
      margin: 0 auto;
      grid-template-columns: 1fr;
      width: 75%;
    }
  }

  &__logo {
    grid-column: 1 / -1;
    justify-self: center;
    height: 15rem;
  }

  &__nav-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__nav-item {
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__nav-list,
  &__text {
    padding-top: 2.5rem;
    border-top: 2px solid $color-gray-dark;
  }

  &__nav-link:hover {
    color: $color-primary;
  }
}
